{% extends 'base.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Inventory List</h1>
        <p class="mb-4">Below is the list of all inventory items available in the system.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Inventory Table</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Item Name</th>                              
                                <th>Stock Quantity</th>
                                <th>Stock Location</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Item Name</th>                                                             
                                <th>Stock Quantity</th>
                                <th>Stock Location</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.stock_location }}</td>
                                    <td>Ksh{{ item.price }}</td>
                                    
                                    <td>

                                        
                                        <a href="{% url 'add_inventory' item.id %}" class="btn btn-warning btn-sm">Edit</a>
                                        <a href="{% url 'delete_inventory' pk=item.id object_type='inventory' %}" class="btn btn-danger btn-sm">Delete Inventory</a>

                                          
                                    
                                        
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'add_inventory' %}" class="btn btn-primary" type="submit">Add New Inventory</a>      
      
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}
